:root {
  --proto-accent-color: #1e90ff;
  --proto-link-color: #1e90ff;
  --proto-scrollbar-bg-color: rgba(2, 2, 2, 0.5);
  --proto-scrollbar-thumb-color: rgba(255, 255, 255, 0.5);

  --proto-light-bg-color: 255, 255, 255;
  --proto-light-dark-color: #020202;
  --proto-light-edge-color: gainsboro;
  --proto-light-shadow-color: rgba(0, 0, 0, 0.15);
  --proto-light-text-color: #020202;

  --proto-dark-bg-color: 50, 50, 50;
  --proto-dark-dark-color: #fdfdfd;
  --proto-dark-shadow-color: rgba(0, 0, 0, 0.5);
  --proto-dark-edge-color: rgb(84, 84, 84);
  --proto-dark-text-color: #fdfdfd;

  --proto-bg-color: var(--proto-light-bg-color);
  --proto-dark-color: var(--proto-light-dark-color);
  --proto-shadow-color: var(--proto-light-shadow-color);
  --proto-edge-color: var(--proto-light-edge-color);
  --proto-text-color: var(--proto-light-text-color);

  tab-size: 2rem;
}

[p-emu-light] {
  --proto-bg-color: var(--proto-light-bg-color);
  --proto-dark-color: var(--proto-light-dark-color);
  --proto-shadow-color: var(--proto-light-shadow-color);
  --proto-edge-color: var(--proto-light-edge-color);
  --proto-text-color: var(--proto-light-text-color);
}

[p-emu-dark] {
  --proto-bg-color: var(--proto-dark-bg-color);
  --proto-dark-color: var(--proto-dark-dark-color);
  --proto-shadow-color: var(--proto-dark-shadow-color);
  --proto-edge-color: var(--proto-dark-edge-color);
  --proto-text-color: var(--proto-dark-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --proto-bg-color: var(--proto-dark-bg-color);
    --proto-dark-color: var(--proto-dark-dark-color);
    --proto-shadow-color: var(--proto-dark-shadow-color);
    --proto-edge-color: var(--proto-dark-edge-color);
    --proto-text-color: var(--proto-dark-text-color);
  }
}

* {
  box-sizing: border-box;
  accent-color: var(--proto-accent-color);
}

/* scrollbar */
  ::-webkit-scrollbar {
    background-color: var(--proto-scrollbar-bg-color);
    width: 0.5rem;
  }

  ::-webkit-scrollbar:horizontal {
    height: 0.5rem;
  }
  
  :root {
    scrollbar-color: var(--proto-scrollbar-thumb-color) var(--proto-scrollbar-bg-color);
    scrollbar-width: thin;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--proto-scrollbar-thumb-color);
  }

html {
  background-color: rgb(var(--proto-bg-color));
  color: var(--proto-text-color);
}

body {
  margin: 0;
}

/* code */
  pre, code {
    font-family: "Source Code Pro", monospace;
    font-size: 10pt;
  }

  code {
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #272822;
    color: #fff;
  }
  
  pre > code {
    margin: 0.25rem;
    display: block;
    overflow: auto;
  }
  
  code:not(pre > code) {
    line-height: 1.5rem;
  }
  
  [monokai-stmt] {
    color: #f92672;
  }
  
  [monokai-name] {
    color: #a6e22e;
  }
  
  [monokai-arg] {
    color: #fd971f;
  }
  
  [monokai-fn] {
    color: #66d9ef;
  }
  
  [monokai-const] {
    color: #ae81ff;
  }
  
  [monokai-string] {
    color: #e6db74;
  }
  
  [monokai-comment] {
    color: #75715e;
  }
  
  [monokai-text] {
    color: #fff;
  }

/* forms */
  :focus-visible {
    outline: solid 0.1rem var(--proto-accent-color);
  }

  button, input[type="submit" i], input[type="button" i], input[type="reset" i], input[type="color" i] {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--proto-accent-color);
    color: white;
    border: none;
    transition: filter 0.1s;
    vertical-align: middle;
    box-shadow: 0rem 0.25rem 0.25rem var(--proto-shadow-color);
  }
  
  input[type="checkbox" i] {
    border: solid 1px #000;
    height: 1rem;
    width: 1rem;
    box-shadow: 0rem 0.25rem 0.25rem var(--proto-shadow-color);
    vertical-align: middle;
  }
  
  input[type="color" i] {
    padding: 0.1rem 0.25rem;
  }
  
  button:hover, input[type="submit" i]:hover, input[type="button" i]:hover, input[type="reset" i]:hover {
    filter: grayscale(50%);
  }
  
  button:active, input[type="submit" i]:active, input[type="button" i]:active, input[type="reset" i]:active {
    filter: grayscale(100%);
  }
  
  textarea, input[type="text" i], input[type="date" i], input[type="datetime-local" i], input[type="email" i], input[type="month" i], input[type="number" i], input[type="password" i], input[type="search" i], input[type="tel" i], input[type="url" i], input[type="week" i] {
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--proto-bg-color);
    color: var(--proto-text-color);
    font-family: sans-serif;
    font-size: 1rem;
    border: solid 1px var(--proto-edge-color);
    box-shadow: 0rem 0.25rem 0.25rem var(--proto-shadow-color);
  }

/* markup */
  main {
    padding: 1rem;
  }

  a {
    color: var(--proto-link-color);
    transition: filter 0.1s;
  }
  
  a:hover {
    filter: contrast(200%);
  }
  
  h1, h2, h3, h5, h6 {
    margin: 0.5rem;
    margin-left: 0px;
  }
  
  header {
    padding: 1rem;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(var(--proto-bg-color), 0.8);
    top: 0px;
    left: 0px;
  }
  
  footer {
    padding: 1rem;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(var(--proto-bg-color), 0.8);
  }
  
  img {
    margin: 0.25rem;
  }

  [p-justify-center] {
    display: flex;
    justify-content: center;
  }

  [p-items-center] {
    display: flex;
    align-items: center;
  }
  
  [p-center] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  [p-sticky-top] {
    position: sticky;
    top: 0px;
  }
  
  [p-round] {
    border-radius: 0.5rem;
  }
  
  [p-round-l] {
    border-radius: 1.5rem;
  }
  
  [p-round-max] {
    border-radius: 100%;
  }
  
  [p-trim-top] {
    object-fit: cover;
    object-position: top;
  }
  
  [p-trim-center] {
    object-fit: cover;
    object-position: center;
  }
  
  [p-trim-bottom] {
    object-fit: cover;
    object-position: bottom;
  }
  
  [p-block] {
    display: block;
  }
  
  [p-horizontal] {
    display: flex;
    flex-direction: row;
  }
  
  [p-flex-vertical] {
    display: flex;
    flex-direction: column;
  }

  [p-items-center] {
    display: flex;
    align-items: center;
  }
  
  [p-h-max] {
    height: 100%;
  }
  
  [p-box], article, section, nav {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(0.5rem);
    background-color: rgba(var(--proto-bg-color), 0.8);
    border: solid 1px var(--proto-edge-color);
    box-shadow: 0rem 0.25rem 0.25rem var(--proto-shadow-color);
    height: 100%;
  }
  
  @media screen and (max-width: 700px) {
    [p-box], article, section, nav {
      margin: 0.25rem 0rem;
      border-radius: 0rem;
      width: 100%;
      border-width: 1px 0px;
    }
  
    main {
      padding: 1rem 0rem;
    }
  
    [p-horizontal] {
      flex-direction: column;
    }
  
    [p-sticky-top] {
      position: inherit;
    }
  }